.section-about {
    background-color: #f7f7f7;
    padding: 30rem 0;
    margin-top: -20vh;
}

.section-about {
    padding: 10rem 0 10rem;
    transform: skewY(-7deg)
}

}
.u-margin-bottom-big {
    margin-bottom: 8rem !important
}



.row .col-1-of-2 {
    width: calc((100% - 6rem) / 2)
}

.composition {
    position: relative
}

.composition__photo {
    width: 65%;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    -webkit-transition: all .2s;
    transition: all .2s;
    outline-offset: 2rem
}

@media only screen and (max-width: 56.25em) {
    .composition__photo {
        float: left;
        position: relative;
        width: 33.33333333%;
        -webkit-box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2)
    }
}

.composition__photo--p1 {
    right: 0rem;
    top: 6rem
}

{
.composition__photo--p1 {
    top: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

}
.composition__photo:hover {
    outline: 1.5rem solid #439bf9;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    z-index: 20
}

.composition:hover .composition__photo:not(:hover) {
    -webkit-transform: scale(0.95);
    transform: scale(0.95)
}
