.card{
    width: 60%;
    height:40%;
    margin-left: 20%;
}
.card-img{
    width: 80%;
    height: 100%;
}

.card-title,
.card-text {
    text-align: center;
}
.card-title{
    margin-top: 15%;
}
 /* .btn-dark{  
   margin-left: 33%;
   margin-right: 20%;
} */
.url:link,
.url:visited {
    text-decoration: none;
    color: white;
}
.url:hover
 {
    text-decoration: none;
    color: white;
 }
