.popup2 {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
    overflow: scroll;
}

@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup2 {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.3)
    }
}

.popup2__content {
    position: absolute;
    padding: 5rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: scroll;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.25);
    transform: translate(-50%, -50%) scale(0.25);
    -webkit-transition: all .5s .2s;
    transition: all .5s .2s
}

.popup2__img {
    display: block;
    width: 100%
}

.popup2__text {
    font-size: 2.4rem;
    margin-bottom: 4rem;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto
}

.popup2:target {
    opacity: 1;
    visibility: visible
}

.popup2:target .popup2__content {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1)
}

.popup2__close {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: all .2s;
    transition: all .2s;
    line-height: 1
}

.popup2__close:hover {
    color: #439bf9
}

.btn_fill_--green {
    background-color: #439bf9;
    color: #fff
}

.btn_fill_--green::after {
    background-color: #439bf9
}


@media only screen and (max-width: 600px) {
    .popup2__content {
        position: absolute;
        padding: 5rem;
        top: 65%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 75%;
        background-color: #fff;
        -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
        box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        display: table;
        overflow: scroll;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(0.25);
        transform: translate(-50%, -50%) scale(0.25);
        -webkit-transition: all .5s .2s;
        transition: all .5s .2s
    }
    .popup2__text {
    font-size: 2rem;
    }

}

@media only screen and (max-width: 350px) {
    .popup2__content {
        position: absolute;
        padding: 5rem;
        top: 65%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 75%;
        background-color: #fff;
        -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
        box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        display: table;
        overflow: scroll;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(0.25);
        transform: translate(-50%, -50%) scale(0.25);
        -webkit-transition: all .5s .2s;
        transition: all .5s .2s
    }
    .popup2__text {
    font-size: 1.7rem;
    }

}
