body {
    margin: 0;
    background-color: #253139;
}

.page-title {
    position: absolute;
    font-size: 4rem;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 0;
    margin-top: 5vh;
}

.logo_navbar_small {
    width: 6%;
    transition: all 0.5s;
    margin-bottom: 0rem;
    cursor: pointer;
    min-width: 77px;
    margin-left: 1rem;
    margin-top: 1rem;
}

.frame {
    position: absolute;
    top: 55vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vh;
}
