.popup1 {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: auto;
}

@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
  .popup1 {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.popup1__content {
  position: absolute;
  padding: 5rem;
  top: 5vh;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 75%;
  background-color: #fff;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: table;
  overflow: scroll;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.25);
  transform: translate(-50%, -50%) scale(0.25);
  -webkit-transition: all 0.5s 0.2s;
  transition: all 0.5s 0.2s;
}

.popup1__img {
  display: block;
  width: 100%;
}

.popup1__text {
  font-size: 2.4rem;
  margin-bottom: 4rem;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.popup1:target {
  opacity: 1;
  visibility: visible;
}

.popup1:target .popup1__content {
  opacity: 1;
  -webkit-transform: translate(-50%, 0%) scale(1);
  transform: translate(-50%, 0%) scale(1);
}

.popup1__close {
  color: #777;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  line-height: 1;
}

.popup1__close:hover {
  color: #439bf9;
}

.btn_fill_--green {
  background-color: #439bf9;
  color: #fff;
}

.btn_fill_--green::after {
  background-color: #439bf9;
}

@media only screen and (max-width: 800px) {
  .popup1__content {
    position: absolute;
    padding: 5rem;
    top: 10vh;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    width: 75%;
    background-color: #fff;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: scroll;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.25);
    transform: translate(-50%, -50%) scale(0.25);
    -webkit-transition: all 0.5s 0.2s;
    transition: all 0.5s 0.2s;
  }
}

@media only screen and (max-width: 350px) {
  .popup1__content {
    position: absolute;
    padding: 5rem;
    top: 120%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: scroll;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.25);
    transform: translate(-50%, -50%) scale(0.25);
    -webkit-transition: all 0.5s 0.2s;
    transition: all 0.5s 0.2s;
  }
}

.heading-secondary1 {
  font-size: 3.5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#000000),
    to(#000000)
  );
  background-image: linear-gradient(to right, #000000, #000000);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
